# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/
Packages/

# Xcode user and build data
DerivedData/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcuserdatad/
*.xcuserstate
