<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAFMrkcYIt07ttIezwQzhZYM78vkvMgtjc</string>
	<key>GCM_SENDER_ID</key>
	<string>359384962562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.semihcihan.contextgenerator</string>
	<key>PROJECT_ID</key>
	<string>context-generator</string>
	<key>STORAGE_BUCKET</key>
	<string>context-generator.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359384962562:ios:c5a57b307c566f5bd0b91b</string>
</dict>
</plist>
